*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: black;
}
#header{
  height: 100vh;
}
.container{
  padding: 50px;
  padding-left: 10%;
  padding-right: 35%;
}
.logo{
  left: 1px;
  top: 29px;
  position: fixed;
  width: 170px;
  height: 120px;
}
nav{
  padding: 4%;
}
nav ul li{
  display: inline;    
  padding-left: 20px;
}
nav ul li a{
  color: rgb(244, 234, 234);
  text-decoration: none;
  font-size: 22px;
}
nav ul li:hover{
  background-color: #8d8b8b;
  padding:1.5%;
  border-radius: 5px;
}
.word{
  display: flex;
  grid-template-columns: auto auto auto auto;
}
.photo{
  width: 80%;
  height: 80%;
  padding-top: 7%;
}
.text{
  padding-top: 20%;
  color: rgb(244, 231, 215);
  font-size: 35px;
  font-style:oblique;
}
.nowrap {
  white-space: nowrap ;
}